includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/

doctrine:
    ormRepositoryClass: MyApp\Doctrine\BetterEntityRepository
    odmRepositoryClass: MyApp\Doctrine\BetterDocumentRepository
